* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid black;
    height: auto;
    width: 400px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}

form {
    margin-top: 50px;
}

.position {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.position input {
    border: 1px solid white;
    width: 90%;
    height: 50px;
    padding-left: 25px;
    border-radius: 30px;
    background-color: transparent;
}
.position input::placeholder{
    color: black;
}

.position input:hover{
    background-color: transparent;
}

i {
    position: absolute;
    left: 85%;
    top: 18px;
}

form .button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button button{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    font-size: 20px;
}
p{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 50px;
}